<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    {{#if showTests}}
        <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
    <script src="//code.jquery.com/jquery-2.1.1.min.js" type="application/javascript"></script>
</head>
<body>
<header><img src="/img/logo.jpg" alt="Meadowlark Travel Logo"></header>
{{{body}}}
{{#if showTests}}
    <div id="mocha"></div>
    <script src="/vendor/mocha.js" type="application/javascript"></script>
    <script src="/vendor/chai.js" type="application/javascript"></script>
    <script>
        mocha.ui('tdd');
        var assert = chai.assert;
    </script>
    <script src="/qa/tests-global.js"></script>
    {{#if pageTestScript}}
        <script src="{{pageTestScript}}"></script>
    {{/if}}
    <script>mocha.run();</script>
{{/if}}
</body>
</html>